body {
    font-family: $roboto;
    font-style: normal;
    color: getColor('primary-text-color');
    background-color: getColor('white');
    letter-spacing: 0.03em;
    font-size: 14px;
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}