.viewport{
    border: 2px solid tomato;
    display: none;
    position: relative;
    
    
    @include media-min(tablet){
        width: 336px;
        height: 320px;
        display: block;
    }
    @include media-min(desktop){
        width: 608px;
        height: 580px;
    }
}

.regtangle {
    width: 320px;
    height: 320px;
    background: #FEFEFE;
/* Yellow main */
    border: 14px solid #FFE550;
    border-radius: 456.5px;
    overflow: hidden;
    margin-left: 8px;
    margin-right: 8px;
    @include media-min(desktop){
        border: 26px solid #FFE550;
        margin: 14px;
        width: 580px;
        height: 580px;
    }
}

.slider {
    @include media-min(tablet){
        width: 292px;
        height: 292px;
        display: block;
    }
    @include media-min(desktop){
        width: 528px;
        height: 528px;
    }

}

.slider-line {
    width: 1024px;
    display: flex;
    position: relative;
    left: 0;
    transition: all ease 1s;
}

.slider-prev{
    width: 34px;
    height: 28px;
    position: absolute;
    top:50%;
    left:0;
    cursor: pointer;
    background: #FFFFFF;
    /* Arrow shadow */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
    border-radius: 4px;
    z-index: 999;
    @include media-min(desktop){
        width: 48px;
        height: 40px;
        border-radius: 8px;
    }
}

.slider-next{
    width: 34px;
    height: 28px;
    position: absolute;
    top:50%;
    right: 0;
    cursor: pointer;

    z-index: 999;
    background: #FFFFFF;
        /* Arrow shadow */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
    border-radius: 4px;
    @include media-min(desktop){
        width: 48px;
        height: 40px;
        border-radius: 8px;
    }
}